<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
        @*<div class="sidebar-brand-icon rotate-n-15">*@
        <div class="sidebar-brand-icon">
            @*<i class="fas fa-laugh-wink"></i>*@
            <i class="fas fa-address-book"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Phone Book</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Contacts Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContacts"
           aria-expanded="true" aria-controls="collapseContacts">
            <i class="fa fa-address-book"></i>
            <span>Contacts</span>
        </a>
        <div id="collapseContacts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Contacts Components:</h6>
                @*<a class="collapse-item" href="buttons.html">Add</a>
                <a class="collapse-item active" href="cards.html">List</a>*@
                <a class="collapse-item" asp-controller="Contact" asp-action="Add">Add</a>
                <a class="collapse-item" asp-controller="Contact" asp-action="Index">List</a>
            </div>
        </div>
    </li>


    <!-- Nav Item - Users Management Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
           aria-expanded="true" aria-controls="collapseUsers">
            <i class="fas fa-users"></i>
            <span>Users</span>
        </a>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Users Components:</h6>
                <a class="collapse-item" asp-controller="User" asp-action="Add">Add</a>
@*                <a class="collapse-item" asp-controller="User" asp-action="Update">Update</a>
                <a class="collapse-item" asp-controller="User" asp-action="Delete">Delete</a>
*@                <a class="collapse-item" asp-controller="User" asp-action="Index">List</a>
            </div>
        </div>
    </li>


        <!-- Nav Item - Roles Management Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRoles"
           aria-expanded="true" aria-controls="collapseRoles">
            <i class="fas fa-shield-alt"></i>
            <span>Roles</span>
        </a>
        <div id="collapseRoles" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Users Components:</h6>
                <a class="collapse-item" asp-controller="Role" asp-action="Add">Add</a>
@*                <a class="collapse-item" asp-controller="User" asp-action="Update">Update</a>
                <a class="collapse-item" asp-controller="User" asp-action="Delete">Delete</a>
*@                <a class="collapse-item" asp-controller="Role" asp-action="Index">List</a>
            </div>
        </div>
    </li>

    @*
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>
    *@

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>